.devbx-webform-clean-css * {
  display: inline;
  position: static;
  bottom: auto;
  left: auto;
  right: auto;
  top: auto;
  z-index: auto;
  -ms-flex-line-pack: normal;
      align-content: normal;
  -webkit-box-align: normal;
      -ms-flex-align: normal;
          align-items: normal;
  align-self: auto;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: normal;
      -ms-flex-pack: normal;
          justify-content: normal;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  min-width: auto;
  max-width: none;
  min-height: auto;
  max-height: none;
  background-color: transparent;
  background-image: none;
  background-repeat: repeat;
  background-position: 0% 0%;
  background-size: auto auto;
  border-width: medium;
  border-style: none;
  border-color: currentcolor;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  clear: none;
  float: none;
  margin: 0;
  outline-color: invert;
  outline-style: none;
  outline-width: medium;
  overflow: visible;
  padding: 0;
  cursor: inherit;
  opacity: 1;
  vertical-align: baseline;
  visibility: inherit;
  table-layout: auto;
  border-collapse: inherit;
  border-spacing: inherit;
  empty-cells: inherit;
  -webkit-column-gap: normal;
     -moz-column-gap: normal;
          column-gap: normal;
  -webkit-column-fill: balance;
     -moz-column-fill: balance;
          column-fill: balance;
  -webkit-column-span: none;
     -moz-column-span: none;
          column-span: none;
  -webkit-column-count: auto;
     -moz-column-count: auto;
          column-count: auto;
  -webkit-column-width: auto;
     -moz-column-width: auto;
          column-width: auto;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  -webkit-backface-visibility: visible;
          backface-visibility: visible;
  -webkit-perspective: none;
          perspective: none;
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%;
  -webkit-transform-origin: 50% 50% 0;
      -ms-transform-origin: 50% 50% 0;
          transform-origin: 50% 50% 0;
  -webkit-transform-style: flat;
          transform-style: flat;
  list-style-type: inherit;
  list-style-position: inherit;
  list-style-image: inherit;
  content: normal;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-align: inherit;
  text-indent: inherit;
  -o-text-overflow: clip;
     text-overflow: clip;
  text-shadow: inherit;
  text-transform: inherit;
  white-space: normal;
  word-spacing: inherit;
  -webkit-animation-name: none;
          animation-name: none;
  -webkit-animation-duration: 0s;
          animation-duration: 0s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-transition-delay: 0s;
       -o-transition-delay: 0s;
          transition-delay: 0s;
  -webkit-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: ease;
       -o-transition-timing-function: ease;
          transition-timing-function: ease;
  azimuth: center;
  background-blend-mode: normal;
  background-origin: padding-box;
  background-clip: border-box;
  background-attachment: scroll;
  bleed: auto;
  border-image-source: none;
  border-image-slice: 100%;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
  -webkit-box-decoration-break: slice;
          box-decoration-break: slice;
  -webkit-column-break-after: auto;
     -moz-column-break-after: auto;
          break-after: auto;
  -webkit-column-break-before: auto;
     -moz-column-break-before: auto;
          break-before: auto;
  -webkit-column-break-inside: auto;
     -moz-column-break-inside: auto;
          break-inside: auto;
  caption-side: inherit;
  caret-color: auto;
  clip: auto;
  color-interpolation-filters: linearrgb;
  -webkit-column-rule-width: medium;
     -moz-column-rule-width: medium;
          column-rule-width: medium;
  -webkit-column-rule-style: none;
     -moz-column-rule-style: none;
          column-rule-style: none;
  -webkit-column-rule-color: currentcolor;
     -moz-column-rule-color: currentcolor;
          column-rule-color: currentcolor;
  counter-increment: none;
  counter-reset: none;
  -webkit-filter: none;
          filter: none;
  flood-color: #000;
  flood-opacity: 1;
  font-stretch: inherit;
  font-size-adjust: inherit;
  row-gap: normal;
  grid-area: auto;
  grid-template: none;
  hanging-punctuation: none;
  -webkit-hyphens: manual;
      -ms-hyphens: manual;
          hyphens: manual;
  image-rendering: auto;
  isolation: auto;
  justify-items: legacy;
  justify-self: auto;
  lighting-color: color;
  line-break: auto;
  marks: none;
  mix-blend-mode: normal;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  orphans: inherit;
  overflow-wrap: normal;
  page-break-after: auto;
  page-break-before: auto;
  page-break-inside: auto;
  place-content: normal;
  resize: none;
  size: auto;
  -moz-tab-size: inherit;
    -o-tab-size: inherit;
       tab-size: inherit;
  -moz-text-align-last: inherit;
       text-align-last: inherit;
  text-combine-upright: none;
  -webkit-text-decoration-color: currentcolor;
          text-decoration-color: currentcolor;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
  text-justify: inherit;
  text-orientation: mixed;
  text-underline-position: auto;
  transform-box: view-box;
  widows: inherit;
  will-change: auto;
  word-break: inherit;
  word-wrap: inherit;
  -webkit-writing-mode: horizontal-tb;
      -ms-writing-mode: lr-tb;
          writing-mode: horizontal-tb;
}

.devbx-webform-clean-css address,
.devbx-webform-clean-css article,
.devbx-webform-clean-css aside,
.devbx-webform-clean-css audio,
.devbx-webform-clean-css blockquote,
.devbx-webform-clean-css canvas,
.devbx-webform-clean-css div,
.devbx-webform-clean-css fieldset,
.devbx-webform-clean-css figcaption,
.devbx-webform-clean-css figure,
.devbx-webform-clean-css footer,
.devbx-webform-clean-css h1,
.devbx-webform-clean-css h2,
.devbx-webform-clean-css h3,
.devbx-webform-clean-css h4,
.devbx-webform-clean-css h5,
.devbx-webform-clean-css h6,
.devbx-webform-clean-css header,
.devbx-webform-clean-css hr,
.devbx-webform-clean-css main,
.devbx-webform-clean-css nav,
.devbx-webform-clean-css ol,
.devbx-webform-clean-css p,
.devbx-webform-clean-css pre,
.devbx-webform-clean-css section,
.devbx-webform-clean-css ul,
.devbx-webform-clean-css video {
  display: block;
}

.devbx-webform * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.devbx-webform-theme {
  --devbx-webform-width: 800px;
  --devbx-webform-height: 100%;
  --devbx-webform-background-color: rgba(255, 255, 255, 1);
  --devbx-webform-active-bg-color: #f4f9e5;
  --devbx-webform-active-border-color: #aed136;
  --devbx-webform-button-bg-color: #e0e9ec;
  --devbx-webform-button-bg-hover-color: #f5f5f5;
  --devbx-webform-button-disabled-bg-color: #ededed;
  --devbx-webform-button-border-color: #d5d5d5;
  --devbx-webform-button-width: 1px;
  --devbx-webform-button-font-color: #000;
  --devbx-webform-button-font-size: 1em;
  --devbx-webform-button-font-weight: normal;
  --devbx-webform-button-border-radius: 4px;
  --devbx-webform-button-font-family: "Open Sans";
  --devbx-webform-button-primary-border-color: #007bff;
  --devbx-webform-button-primary-font-color: #fff;
  --devbx-webform-button-primary-font-family: "Open Sans";
  --devbx-webform-button-primary-font-size: 1em;
  --devbx-webform-button-primary-bg-color: #007bff;
  --devbx-webform-button-primary-border-radius: 4px;
  --devbx-webform-button-primary-bg-hover-color: rgba(0, 123, 255, 0.85);
  --devbx-webform-button-primary-border-hover-color: #007bff;
  --devbx-webform-border-width: 1px;
  --devbx-webform-highlight: #1a9cff;
  --devbx-webform-negative: hsl(2, 70%, 47%);
  --devbx-webform-negative-reverse: #fff;
  --devbx-webform-border-radius: none;
  --devbx-webform-gutter: 25px;
  --devbx-webform-heading-color: #000;
  --devbx-webform-heading-font-weight: bold;
  --devbx-webform-heading-font-familty: "Open Sans Condensed", Helvetica, sans-serif;
  --devbx-webform-header-font-weight: bold;
  --devbx-webform-header-font-family: "Open Sans Condensed", Helvetica, sans-serif;
  --devbx-webform-header-font-size: 1.85em;
  --devbx-webform-h2-font-size: 1.50em;
  --devbx-webform-small-text: 0.85em;
  --devbx-webform-label-color: #000;
  --devbx-webform-label-font-familty: "Open Sans Condensed", Helvetica, sans-serif;
  --devbx-webform-label-font-weight: bold;
  --devbx-webform-label-font-size: 1em;
  --devbx-webform-input-background: #fff;
  --devbx-webform-input-border: 1px;
  --devbx-webform-input-border-style: solid;
  --devbx-webform-input-border-color: #ccc;
  --devbx-webform-input-box-shadow: none;
  --devbx-webform-input-padding-v: 8px;
  --devbx-webform-input-padding-h: 8px;
  --devbx-webform-input-color: #333;
  --devbx-webform-input-background-disabled-color: #ededed;
  --devbx-webform-input-placeholder-color: #adadad;
  --devbx-webform-input-border-radius: 0px;
  --devbx-webform-input-font-family: Arial, Helvetica, sans-serif;
  --devbx-webform-input-font-size: inherit;
  --devbx-webform-input-font-weight: inherit;
  --devbx-webform-input-hover-border-color: #66afe9;
  --devbx-webform-input-focus-border-color: #66afe9;
  --devbx-webform-input-focus-box-shadow: 0;
  --devbx-webform-select-option-background: #66afe9;
  --devbx-webform-select-option-font-color: #fff;
  --devbx-webform-line-height: 1;
  --devbx-webform-speed: 1s;
  --devbx-webform-color: #000;
  --devbx-webform-font-family: Arial, Helvetica, sans-serif;
  --devbx-webform-font-size: 13px;
  --devbx-webform-font-weight: normal;
  --devbx-webform-a-coolor: #66afe9;
  --devbx-webform-a-font-weight: normal;
}

.devbx-webform {
  display: block;
  width: 100%;
  min-width: 100%;
  min-height: calc(100% - var(--devbx-webform-gutter) / 2);
  margin: 0 auto;
  color: var(--devbx-webform-color);
  font-family: var(--devbx-webform-font-family);
  font-size: var(--devbx-webform-font-size);
  font-weight: var(--devbx-webform-font-weight, normal);
  line-height: var(--devbx-webform-line-height);
  padding: calc(var(--devbx-webform-gutter) / 4) 0;
}

.devbx-webform-popup .devbx-webform-header {
  padding-top: calc(var(--devbx-webform-gutter) * 1.5);
  padding-left: calc(var(--devbx-webform-gutter) * 1.5);
  padding-right: calc(var(--devbx-webform-gutter) * 1.5);
}
.devbx-webform-popup .devbx-webform-page {
  padding-left: calc(var(--devbx-webform-gutter) * 1.5);
  padding-right: calc(var(--devbx-webform-gutter) * 1.5);
  padding-bottom: calc(var(--devbx-webform-gutter) * 1.5);
}

.devbx-webform *:focus {
  outline: 0;
}
.devbx-webform .devbx-webform-container {
  /*padding-bottom: calc(var(--devbx-webform-gutter) * 1.5);*/
  width: 100%;
  max-width: var(--devbx-webform-width);
  max-height: var(--devbx-webform-height);
  background-color: var(--devbx-webform-background-color);
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.devbx-webform .devbx-webform-content {
  display: block;
  width: 100%;
}
.devbx-webform .devbx-webform-body {
  margin-top: calc(var(--devbx-webform-gutter));
  position: relative;
}
.devbx-webform .devbx-webform-page {
  width: 100%;
}
.devbx-webform strong, .devbx-webform b {
  font-weight: bold;
}
.devbx-webform a {
  cursor: pointer;
  text-decoration: underline;
  color: var(--devbx-webform-a-coolor);
  font-weight: var(--devbx-webform-a-font-weight, normal);
}
.devbx-webform button:not([disabled]) {
  cursor: pointer;
}
.devbx-webform h1 {
  font-family: var(--devbx-webform-header-font-family, inherit);
  font-size: var(--devbx-webform-header-font-size, inherit);
  font-weight: var(--devbx-webform-header-font-weight, inherit);
  display: block;
}
.devbx-webform h2 {
  font-size: var(--devbx-webform-h2-font-size, inherit);
  display: block;
}
.devbx-webform label {
  cursor: default;
}
.devbx-webform .devbx-webform-col-heading {
  color: var(--devbx-webform-heading-color);
  font-family: var(--devbx-webform-heading-font-familty);
  font-weight: var(--devbx-webform-heading-font-weight);
}
.devbx-webform .devbx-webform-col-content {
  z-index: 0;
}
.devbx-webform .devbx-webform-label {
  color: var(--devbx-webform-label-color);
  font-family: var(--devbx-webform-label-font-familty);
  font-weight: var(--devbx-webform-label-font-weight);
  font-size: var(--devbx-webform-label-font-size);
  display: block;
}
.devbx-webform .devbx-webform-input {
  -webkit-transition: border-color calc(var(--devbx-webform-speed) / 3), -webkit-box-shadow calc(var(--devbx-webform-speed) / 3);
  transition: border-color calc(var(--devbx-webform-speed) / 3), -webkit-box-shadow calc(var(--devbx-webform-speed) / 3);
  -o-transition: border-color calc(var(--devbx-webform-speed) / 3), box-shadow calc(var(--devbx-webform-speed) / 3);
  transition: border-color calc(var(--devbx-webform-speed) / 3), box-shadow calc(var(--devbx-webform-speed) / 3);
  transition: border-color calc(var(--devbx-webform-speed) / 3), box-shadow calc(var(--devbx-webform-speed) / 3), -webkit-box-shadow calc(var(--devbx-webform-speed) / 3);
  background: var(--devbx-webform-input-background);
  border-width: var(--devbx-webform-input-border);
  border-style: var(--devbx-webform-input-border-style);
  border-color: var(--devbx-webform-input-border-color);
  -webkit-box-shadow: var(--devbx-webform-input-box-shadow);
          box-shadow: var(--devbx-webform-input-box-shadow);
  padding: var(--devbx-webform-input-padding-v) var(--devbx-webform-input-padding-h);
  color: var(--devbx-webform-input-color);
  font-family: var(--devbx-webform-input-font-family);
  font-size: var(--devbx-webform-input-font-size);
  font-weight: var(--devbx-webform-input-font-weight);
  line-height: var(--devbx-webform-line-height);
  border-radius: var(--devbx-webform-input-border-radius);
  width: 100%;
}
.devbx-webform .devbx-webform-input:focus {
  border-color: var(--devbx-webform-input-focus-border-color);
  -webkit-box-shadow: var(--devbx-webform-input-focus-box-shadow);
          box-shadow: var(--devbx-webform-input-focus-box-shadow);
}
.devbx-webform .devbx-webform-textarea {
  -webkit-transition: border-color calc(var(--devbx-webform-speed) / 3), -webkit-box-shadow calc(var(--devbx-webform-speed) / 3);
  transition: border-color calc(var(--devbx-webform-speed) / 3), -webkit-box-shadow calc(var(--devbx-webform-speed) / 3);
  -o-transition: border-color calc(var(--devbx-webform-speed) / 3), box-shadow calc(var(--devbx-webform-speed) / 3);
  transition: border-color calc(var(--devbx-webform-speed) / 3), box-shadow calc(var(--devbx-webform-speed) / 3);
  transition: border-color calc(var(--devbx-webform-speed) / 3), box-shadow calc(var(--devbx-webform-speed) / 3), -webkit-box-shadow calc(var(--devbx-webform-speed) / 3);
  background: var(--devbx-webform-input-background);
  border-width: var(--devbx-webform-input-border);
  border-style: var(--devbx-webform-input-border-style);
  border-color: var(--devbx-webform-input-border-color);
  -webkit-box-shadow: var(--devbx-webform-input-box-shadow);
          box-shadow: var(--devbx-webform-input-box-shadow);
  padding: var(--devbx-webform-input-padding-v) var(--devbx-webform-input-padding-h);
  color: var(--devbx-webform-input-color);
  border-radius: var(--devbx-webform-input-border-radius);
  width: 100%;
}
.devbx-webform .devbx-webform-textarea:focus {
  border-color: var(--devbx-webform-input-focus-border-color);
  -webkit-box-shadow: var(--devbx-webform-input-focus-box-shadow);
          box-shadow: var(--devbx-webform-input-focus-box-shadow);
}
.devbx-webform .devbx-webform-button {
  outline: 0;
  min-width: 80px;
  cursor: pointer;
  color: var(--devbx-webform-button-font-color);
  font-family: var(--devbx-webform-button-font-family);
  font-size: var(--devbx-webform-button-font-size);
  background-color: var(--devbx-webform-button-bg-color);
  border-radius: var(--devbx-webform-button-border-radius);
  line-height: var(--devbx-webform-line-height);
  -webkit-transition: calc(var(--devbx-webform-speed) / 4);
  -o-transition: calc(var(--devbx-webform-speed) / 4);
  transition: calc(var(--devbx-webform-speed) / 4);
  padding: calc(var(--devbx-webform-input-padding-v) * 1) calc(var(--devbx-webform-input-padding-h) * 1);
  border: var(--devbx-webform-button-width) var(--devbx-webform-button-border-color) solid;
}
.devbx-webform .devbx-webform-button:hover {
  background-color: var(--devbx-webform-button-bg-hover-color);
}
.devbx-webform .devbx-webform-button:focus {
  border-width: var(--devbx-webform-border-width);
  border-style: solid;
  border-color: var(--devbx-webform-background-color);
  -webkit-box-shadow: 0 0 0 var(--devbx-webform-border-width) var(--devbx-webform-highlight);
          box-shadow: 0 0 0 var(--devbx-webform-border-width) var(--devbx-webform-highlight);
}
.devbx-webform .devbx-webform-button:disabled {
  background-color: var(--devbx-webform-button-disabled-bg-color);
}
.devbx-webform .devbx-webform-button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.devbx-webform .devbx-webform-button .devbx-webform-button-svg-icon {
  height: var(--devbx-webform-button-font-size);
}
.devbx-webform .devbx-webform-button .devbx-webform-button-svg-icon svg {
  max-width: 100%;
  max-height: 100%;
  fill: var(--devbx-webform-button-font-color);
}
.devbx-webform .devbx-webform-animation-rotate {
  -webkit-animation: devbx-webform-animation-rotate 1s linear infinite;
          animation: devbx-webform-animation-rotate 1s linear infinite;
}
@-webkit-keyframes devbx-webform-animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes devbx-webform-animation-rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.devbx-webform .devbx-webform-button-primary {
  border-color: var(--devbx-webform-button-primary-border-color);
  color: var(--devbx-webform-button-primary-font-color);
  font-family: var(--devbx-webform-button-primary-font-family);
  font-size: var(--devbx-webform-button-primary-font-size);
  background-color: var(--devbx-webform-button-primary-bg-color);
  border-radius: var(--devbx-webform-button-primary-border-radius);
}
.devbx-webform .devbx-webform-button-primary:hover {
  background-color: var(--devbx-webform-button-primary-bg-hover-color);
  border-color: var(--devbx-webform-button-primary-border-hover-color);
}
.devbx-webform .devbx-webform-button-primary .devbx-webform-button-svg-icon svg {
  fill: var(--devbx-webform-button-primary-font-color);
}
.devbx-webform .devbx-webform-helptext {
  display: block;
  margin-bottom: calc(var(--devbx-webform-gutter) / 4);
  font-size: var(--devbx-webform-small-text);
}
.devbx-webform .devbx-webform-asterisk {
  position: absolute;
  margin-left: 0.2em;
  content: "*";
  color: var(--devbx-webform-negative);
}
.devbx-webform .devbx-webform-field {
  position: relative;
  z-index: 0;
}
.devbx-webform .devbx-webform--is-error::before {
  background: #fff;
  outline: #fff calc(var(--devbx-webform-gutter) / 2 - 3px) solid;
  opacity: 0.8;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: var(--devbx-webform-border-radius);
  content: "";
}
.devbx-webform .devbx-webform--is-error::after {
  background: var(--devbx-webform-negative);
  outline: var(--devbx-webform-negative) calc(var(--devbx-webform-gutter) / 2 - 3px) solid;
  opacity: 0.1;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  border-radius: var(--devbx-webform-border-radius);
  content: "";
}
.devbx-webform .devbx-webform-error-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  opacity: 1;
  -webkit-transition: calc(var(--devbx-webform-speed) / 2);
  -o-transition: calc(var(--devbx-webform-speed) / 2);
  transition: calc(var(--devbx-webform-speed) / 2);
  border-radius: var(--devbx-webform-border-radius);
  background: var(--devbx-webform-negative);
  padding: calc(var(--devbx-webform-gutter) / 4);
  color: var(--devbx-webform-negative-reverse);
  font-size: var(--devbx-webform-small-text);
}
.devbx-webform .devbx-webform-pages-container {
  position: relative;
  -webkit-transition: min-width var(--devbx-webform-speed), min-height var(--devbx-webform-speed);
  -o-transition: min-width var(--devbx-webform-speed), min-height var(--devbx-webform-speed);
  transition: min-width var(--devbx-webform-speed), min-height var(--devbx-webform-speed);
}
.devbx-webform .devbx-webform-pages-transition {
  overflow: hidden !important;
}
.devbx-webform .devbx-webform-page-transition-enter-active, .devbx-webform .devbx-webform-page-transition-leave-active {
  position: absolute;
  -webkit-transition: all ease-in-out var(--devbx-webform-speed);
  -o-transition: all ease-in-out var(--devbx-webform-speed);
  transition: all ease-in-out var(--devbx-webform-speed);
}
.devbx-webform .devbx-webform-page-transition-leave-active {
  opacity: 0;
}
.devbx-webform .devbx-webform-page-transition-enter-from, .devbx-webform .devbx-webform-page-transition-leave-active {
  -webkit-transform: translateX(-120%);
      -ms-transform: translateX(-120%);
          transform: translateX(-120%);
}
.devbx-webform .devbx-webform-page + .devbx-webform-page-transition-enter-from, .devbx-webform .devbx-webform-page + .devbx-webform-page-transition-leave-active {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}
.devbx-webform .devbx-webform-field-enter,
.devbx-webform .devbx-webform-field-leave-to {
  max-height: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0;
  padding-bottom: 0;
  opacity: 0;
}
.devbx-webform .devbx-webform-helptext img {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  height: 100%;
}
.devbx-webform .devbx-webform-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: var(--devbx-webform-gutter/2);
}
.devbx-webform .devbx-webform-navigation .devbx-webform-button {
  padding: var(--devbx-webform-input-padding-v) var(--devbx-webform-input-padding-h);
  margin-right: calc(var(--devbx-webform-gutter) / 2);
}
.devbx-webform.devbx-webform-finish-page .devbx-webform-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.devbx-webform.devbx-webform-finish-page .devbx-webform-content img {
  max-width: 100%;
}

/** experimental **/
.devbx-webform-popup .devbx-webform-container {
  height: calc(100% - var(--devbx-webform-gutter) / 2);
  overflow: hidden;
}
.devbx-webform-popup .devbx-webform-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}
.devbx-webform-popup .devbx-webform-body {
  height: 100%;
  overflow: auto;
}
.devbx-webform-popup .devbx-webform-pages-container {
  height: 100%;
}
.devbx-webform-popup .devbx-webform-page {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.devbx-webform-popup .devbx-webform-navigation {
  margin-top: auto;
}

.devbx-webform-error {
  background: #f8d7da;
  padding: calc(var(--devbx-webform-gutter) / 4);
  border-radius: 0.25rem;
  color: #721c24;
  margin: calc(var(--devbx-webform-gutter) / 4);
  border: 1px solid #f5c6cb;
}

.devbx-webform-icon-minus:before {
    content: "\2212";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    font-family: "Times New Roman",Times,serif;
    font-size: 1.5em;
}

.devbx-webform-icon-plus:before {
    content: "+";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100%;
    font-family: "Times New Roman",Times,serif;
    font-size: 1.5em;
}
.devbx-webform .devbx-webform-description {
  padding-top: 1em;
  margin-bottom: 1em;
}
.devbx-webform .devbx-webform-heading {
  border: 1px solid transparent;
  padding: 0 8px !important;
  overflow: hidden;
  cursor: pointer;
  min-height: 50px;
}
.devbx-webform .devbx-webform-heading h2 {
  margin-bottom: 0;
}
.devbx-webform .devbx-webform-page-steps, .devbx-webform .devbx-webform-page-progress-bar {
  display: block;
  padding-top: var(--devbx-webform-gutter);
}
.devbx-webform .devbx-webform-page-steps ul {
  counter-reset: mycounter;
  position: relative;
  display: inline-block;
  padding: 0 !important;
  margin: 0;
  clear: both;
}
.devbx-webform .devbx-webform-page-steps li {
  float: left;
  position: relative;
  list-style-type: none;
  margin-bottom: 5px;
  margin-right: 1em;
}
.devbx-webform .devbx-webform-page-steps li a {
  text-decoration: none;
  color: #333;
}
.devbx-webform .devbx-webform-page-steps li a:before {
  content: counter(mycounter);
  counter-increment: mycounter;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  color: #999;
  font-size: 0.8em;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  border-radius: 50%;
  border-width: 1px;
  border-style: solid;
  background-color: #fff;
}
.devbx-webform .devbx-webform-page-steps.devbx-webform-page-steps-no-title li a:before {
  font-size: 15px;
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.devbx-webform .devbx-webform-page-steps li span {
  padding-left: 0.5em;
  vertical-align: middle;
}
.devbx-webform .devbx-webform-page-steps .devbx-webform-page-step-active a:before {
  background-color: var(--devbx-webform-button-bg-color);
  border-color: var(--devbx-webform-button-border-color);
  color: var(--devbx-webform-button-font-color);
}
.devbx-webform .devbx-webform-page-progress-bar ul {
  counter-reset: mycounter;
  position: relative;
  display: inline-block;
  padding: 0 !important;
  margin: 0;
  clear: both;
  width: 100%;
}
.devbx-webform .devbx-webform-page-progress-bar li {
  float: left;
  position: relative;
  list-style-type: none;
  margin-bottom: 5px;
  text-align: center;
}
.devbx-webform .devbx-webform-page-progress-bar li a {
  display: block;
  margin-right: 1em;
  margin-top: 5px;
  text-decoration: none;
  color: #333;
}
.devbx-webform .devbx-webform-page-progress-bar li a:before {
  /*
  background-color: #efefef;
  border-color: #9b9b9b;
  color: #fff;
  content: "";
  position: absolute;
  top: -8px;
  left: 0;
  width: 100%;
  height: 6px;
  display: block;
  transition: 0.3s all;*/
}
.devbx-webform .devbx-webform-page-progress-bar li.devbx-webform-page-step-active a:before,
.devbx-webform .devbx-webform-page-progress-bar li.devbx-webform-page-step-passed a:before {
  /*
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  color: #fff;*/
}
.devbx-webform .devbx-webform-page-progress-bar li.devbx-webform-page-step-active a:after {
  content: "";
  position: absolute;
  top: -3px;
  left: 50%;
  width: 0;
  height: 0;
  display: block;
  border: 5px solid transparent;
  margin-left: -5px;
  border-top-color: #9b9b9b !important;
}
.devbx-webform .devbx-webform-page-progress-bar li.devbx-webform-progress-bar-line {
  position: absolute;
  top: -8px;
  left: 0px;
  background-color: #efefef;
  border-color: #9b9b9b;
  width: 100%;
  height: 6px;
  display: block;
}
.devbx-webform .devbx-webform-page-progress-bar li.devbx-webform-progress-bar-pos {
  position: absolute;
  top: -8px;
  left: 0px;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
  height: 6px;
  display: block;
  /*z-index: 1;*/
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.devbx-webform .devbx-webform-page-progress-bar a, .devbx-webform .devbx-webform-page-steps a {
  cursor: pointer;
}

.devbx-webform-page .devbx-webform-page-loading {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div {
  -webkit-animation: devbx-webform-page-lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: devbx-webform-page-lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-transform-origin: 40px 40px;
      -ms-transform-origin: 40px 40px;
          transform-origin: 40px 40px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: var(--devbx-webform-highlight);
  margin: -4px 0 0 -4px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(1) {
  -webkit-animation-delay: -0.036s;
          animation-delay: -0.036s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(2) {
  -webkit-animation-delay: -0.072s;
          animation-delay: -0.072s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(3) {
  -webkit-animation-delay: -0.108s;
          animation-delay: -0.108s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(4) {
  -webkit-animation-delay: -0.144s;
          animation-delay: -0.144s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(5) {
  -webkit-animation-delay: -0.18s;
          animation-delay: -0.18s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(6) {
  -webkit-animation-delay: -0.216s;
          animation-delay: -0.216s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(7) {
  -webkit-animation-delay: -0.252s;
          animation-delay: -0.252s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(8) {
  -webkit-animation-delay: -0.288s;
          animation-delay: -0.288s;
}
.devbx-webform-page .devbx-webform-page-loading .devbx-webform-page-lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@-webkit-keyframes devbx-webform-page-lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes devbx-webform-page-lds-roller {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.devbx-webform .devbx-webform-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: var(--devbx-webform-gutter);
     -moz-column-gap: var(--devbx-webform-gutter);
          column-gap: var(--devbx-webform-gutter);
}
.devbx-webform .devbx-webform--col--0 {
  width: 0 !important;
  padding: 0;
  border: 0 !important;
}
.devbx-webform .devbx-webform--col--1 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 16.6666666667px;
          flex: 2 1 16.6666666667px;
  width: calc(4.1666666667% + var(--devbx-webform-gutter) * -0.9583333333);
}
.devbx-webform .devbx-webform--col--2 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 33.3333333333px;
          flex: 2 1 33.3333333333px;
  width: calc(8.3333333333% + var(--devbx-webform-gutter) * -0.9166666667);
}
.devbx-webform .devbx-webform--col--3 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 50px;
          flex: 2 1 50px;
  width: calc(12.5% + var(--devbx-webform-gutter) * -0.875);
}
.devbx-webform .devbx-webform--col--4 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 66.6666666667px;
          flex: 2 1 66.6666666667px;
  width: calc(16.6666666667% + var(--devbx-webform-gutter) * -0.8333333333);
}
.devbx-webform .devbx-webform--col--5 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 83.3333333333px;
          flex: 2 1 83.3333333333px;
  width: calc(20.8333333333% + var(--devbx-webform-gutter) * -0.7916666667);
}
.devbx-webform .devbx-webform--col--6 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 100px;
          flex: 2 1 100px;
  width: calc(25% + var(--devbx-webform-gutter) * -0.75);
}
.devbx-webform .devbx-webform--col--7 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 116.6666666667px;
          flex: 2 1 116.6666666667px;
  width: calc(29.1666666667% + var(--devbx-webform-gutter) * -0.7083333333);
}
.devbx-webform .devbx-webform--col--8 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 133.3333333333px;
          flex: 2 1 133.3333333333px;
  width: calc(33.3333333333% + var(--devbx-webform-gutter) * -0.6666666667);
}
.devbx-webform .devbx-webform--col--9 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 150px;
          flex: 2 1 150px;
  width: calc(37.5% + var(--devbx-webform-gutter) * -0.625);
}
.devbx-webform .devbx-webform--col--10 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 166.6666666667px;
          flex: 2 1 166.6666666667px;
  width: calc(41.6666666667% + var(--devbx-webform-gutter) * -0.5833333333);
}
.devbx-webform .devbx-webform--col--11 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 183.3333333333px;
          flex: 2 1 183.3333333333px;
  width: calc(45.8333333333% + var(--devbx-webform-gutter) * -0.5416666667);
}
.devbx-webform .devbx-webform--col--12 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 200px;
          flex: 2 1 200px;
  width: calc(50% + var(--devbx-webform-gutter) * -0.5);
}
.devbx-webform .devbx-webform--col--13 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 216.6666666667px;
          flex: 2 1 216.6666666667px;
  width: calc(54.1666666667% + var(--devbx-webform-gutter) * -0.4583333333);
}
.devbx-webform .devbx-webform--col--14 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 233.3333333333px;
          flex: 2 1 233.3333333333px;
  width: calc(58.3333333333% + var(--devbx-webform-gutter) * -0.4166666667);
}
.devbx-webform .devbx-webform--col--15 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 250px;
          flex: 2 1 250px;
  width: calc(62.5% + var(--devbx-webform-gutter) * -0.375);
}
.devbx-webform .devbx-webform--col--16 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 266.6666666667px;
          flex: 2 1 266.6666666667px;
  width: calc(66.6666666667% + var(--devbx-webform-gutter) * -0.3333333333);
}
.devbx-webform .devbx-webform--col--17 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 283.3333333333px;
          flex: 2 1 283.3333333333px;
  width: calc(70.8333333333% + var(--devbx-webform-gutter) * -0.2916666667);
}
.devbx-webform .devbx-webform--col--18 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 300px;
          flex: 2 1 300px;
  width: calc(75% + var(--devbx-webform-gutter) * -0.25);
}
.devbx-webform .devbx-webform--col--19 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 316.6666666667px;
          flex: 2 1 316.6666666667px;
  width: calc(79.1666666667% + var(--devbx-webform-gutter) * -0.2083333333);
}
.devbx-webform .devbx-webform--col--20 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 333.3333333333px;
          flex: 2 1 333.3333333333px;
  width: calc(83.3333333333% + var(--devbx-webform-gutter) * -0.1666666667);
}
.devbx-webform .devbx-webform--col--21 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 350px;
          flex: 2 1 350px;
  width: calc(87.5% + var(--devbx-webform-gutter) * -0.125);
}
.devbx-webform .devbx-webform--col--22 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 366.6666666667px;
          flex: 2 1 366.6666666667px;
  width: calc(91.6666666667% + var(--devbx-webform-gutter) * -0.0833333333);
}
.devbx-webform .devbx-webform--col--23 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 383.3333333333px;
          flex: 2 1 383.3333333333px;
  width: calc(95.8333333333% + var(--devbx-webform-gutter) * -0.0416666667);
}
.devbx-webform .devbx-webform--col--24 {
  -webkit-box-flex: 2;
      -ms-flex: 2 1 400px;
          flex: 2 1 400px;
  width: calc(100% + var(--devbx-webform-gutter) * 0);
}
.devbx-webform .devbx-webform--col {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-top: calc(var(--devbx-webform-gutter) / 4);
  margin-bottom: calc(var(--devbx-webform-gutter) / 4);
}

.devbx-webform-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
}

.devbx-webform-popup-window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.devbx-webform-popup-window .devbx-webform-popup-container {
  position: relative;
  min-width: 20vw;
  min-height: 20vh;
  max-width: 80vw;
  background: #fff;
  padding: calc(var(--devbx-webform-gutter) / 4);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.devbx-webform-popup-window .devbx-webform-popup-close {
  cursor: pointer;
  height: 27px;
  outline: none;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  width: 27px;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}
.devbx-webform-popup-window .devbx-webform-popup-close:after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  width: 10px;
  height: 10px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='10' height='10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.787 1L5 3.787 2.213 1 1 2.213 3.787 5 1 7.787 2.213 9 5 6.213 7.787 9 9 7.787 6.213 5 9 2.213' fill='%23999' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  content: "";
}
.devbx-webform-popup-window .devbx-webform-popup-content {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.devbx-webform-popup-window .devbx-webform-popup-content-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.devbx-webform-popup-window .devbx-webform-popup-buttons {
  margin-top: auto;
  -ms-flex-item-align: center;
      align-self: center;
}
.devbx-webform-popup-window .devbx-webform-popup-button {
  outline: 0;
  min-width: 80px;
  cursor: pointer;
  color: var(--devbx-webform-button-font-color);
  font-family: var(--devbx-webform-button-font-family);
  font-size: var(--devbx-webform-button-font-size);
  background-color: var(--devbx-webform-button-bg-color);
  border-radius: var(--devbx-webform-button-border-radius);
  line-height: var(--devbx-webform-line-height);
  -webkit-transition: calc(var(--devbx-webform-speed) / 4);
  -o-transition: calc(var(--devbx-webform-speed) / 4);
  transition: calc(var(--devbx-webform-speed) / 4);
  padding: calc(var(--devbx-webform-input-padding-v) * 1) calc(var(--devbx-webform-input-padding-h) * 1);
  border: var(--devbx-webform-button-width) var(--devbx-webform-button-border-color) solid;
}
.devbx-webform-popup-window .devbx-webform-popup-button:hover {
  background-color: var(--devbx-webform-button-bg-hover-color);
}
.devbx-webform-popup-window .devbx-webform-popup-button:focus {
  border-width: var(--devbx-webform-border-width);
  border-style: solid;
  border-color: var(--devbx-webform-background-color);
  -webkit-box-shadow: 0 0 0 var(--devbx-webform-border-width) var(--devbx-webform-highlight);
          box-shadow: 0 0 0 var(--devbx-webform-border-width) var(--devbx-webform-highlight);
}
.devbx-webform-popup-window .devbx-webform-popup-button:disabled {
  background-color: var(--devbx-webform-button-disabled-bg-color);
}
.devbx-webform-popup-window .devbx-webform-popup-button > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.devbx-webform-popup-window .devbx-webform-popup-button-primary {
  border-color: var(--devbx-webform-button-primary-border-color);
  color: var(--devbx-webform-button-primary-font-color);
  font-family: var(--devbx-webform-button-primary-font-family);
  font-size: var(--devbx-webform-button-primary-font-size);
  background-color: var(--devbx-webform-button-primary-bg-color);
  border-radius: var(--devbx-webform-button-primary-border-radius);
}
.devbx-webform-popup-window .devbx-webform-popup-button-primary:hover {
  background-color: var(--devbx-webform-button-primary-bg-hover-color);
  border-color: var(--devbx-webform-button-primary-border-hover-color);
}
