.delivery-icon-default {
    background: url("/local/templates/table_play/img/icon/calc-dostavka.svg") no-repeat;
}

.delivery-icon-default-pickup {
    background: url("/local/templates/table_play/img/icon/box.svg") no-repeat;
}

.delivery-icon-vozovoz {
    background: url("icons/vozovoz-delivery.svg") no-repeat;
}

.delivery-icon-vozovoz-pickup {
    background: url("icons/vozovoz-pick-up.svg") no-repeat;
}

.delivery-icon-boxberry {
    background: url("icons/boxberry-delivery.svg") no-repeat;
}

.delivery-icon-boxberry-pickup {
    background: url("icons/boxberry-pick-up.svg") no-repeat;
}

.delivery-icon-sdek {
    background: url("icons/sdek-delivery.svg") no-repeat;
}

.delivery-icon-sdek-pickup {
    background: url("icons/sdek-pick-up.svg") no-repeat;
}

